{% extends 'base.html' %}

{% block title %} Welcome to Job list {% endblock %}

{% block heading %}
Job list
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Status</th>
                <th scope="col">Started</th>
                <th scope="col">End</th>
                <th scope="col">Name</th>
                <th scope="col">Worker</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for job in jobs_list %}
                    <tr>
                        <td>{{ job.pk }}</td>
                        <td>{{ job.get_status_display }}</td>
                        <td>{{ job.created|date:"d-m-y" }}</td>
                        <td>{{ job.ends|date:"d-m-y" }}</td>
                        <td>{{ job.name }}</td>
                        <td>{{ job.worker }}</td>
                        <td>{{ job.price }}</td>
                        <td>
                            {% if job.status == job.TODO %}
                                <a href="{% url 'start_job' job.pk %}" class="btn btn-link text-primary">Start</a>
                            {% endif %}
                            {% if job.status != job.DONE %}
                                <a href="{% url 'finish_job' job.pk %}" class="btn btn-success">Finish</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'add_job' %}" class="btn btn-primary btn-block">Add new job</a>
    {% endif %}

{% endblock %}