{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="." method="post">
                    {% csrf_token %}
                    {% if errors %}
                        <div class="error">
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group {% if login_form.errors %}error{% endif %}">
                        <label for="{{ login_form.email.id_for_label }}">{{ login_form.email.label }}</label>
                        {{ login_form.email }}
                    <div class="invalid-feedback">Email or password is invalid</div>
                    </div>

                    <div class="form-group">
                        <label for="{{ login_form.password.id_for_label }}">{{ login_form.password.label }}</label>
                        {{ login_form.password }}
                    </div>
                    <button class="btn btn-block btn-primary" type="submit">Login</button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}