<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Job list{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header style="margin-bottom: 40px">
        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Job list</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Job list <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'company_list' %}">Clients</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                        <span class="navbar-text" style="padding-right: 20px">Hello, {{ user.email }}</span>
                        <a href="{% url 'logout' %}" class="navbar-link">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="navbar-link">Login</a>
                    {% endif %}
                </div>
            </nav>
        {% endblock %}
    </header>
    <div class="container">
        <h1 style="margin-bottom: 20px">{% block heading %}{% endblock %}</h1>
        {% block content %}
        {% endblock %}
    </div>


    <script src="{% static 'node_modules/jquery/dist/jquery.slim.min.js' %}"></script>
    <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>