{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1 style="margin-bottom: 20px">Clients</h1>
        <div class="accordion" id="companyAccordion" style="margin-bottom: 20px">
            {% for company in companies %}
                <div class="card">
                    <div class="card-header" id="heading-{{ company.pk }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ company.pk }}"
                                    aria-expanded="false" aria-controls="collapse-{{ company.pk }}">
                                {{ company.name }}
                            </button>
                        </h2>
                    </div>

                    <div id="collapse-{{ company.pk }}" class="collapse" aria-labelledby="heading-{{ company.pk }}"
                         data-parent="#companyAccordion">
                        <div class="card-body">
                            <div class="card-body">
                                <h5 class="card-title">{{ company.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ company.email }}</h6>
                                {% if company.contact_name %}
                                    <p class="card-text">Contact: {{ company.contact_name }}</p>
                                {% endif %}
                                {% if company.phone %}
                                    <p class="card-text">Phone: {{ company.phone }}</p>
                                {% endif %}
                                {% if company.address %}
                                    <p class="card-text">Address: {{ company.address }}</p>
                                {% endif %}
                                <a class="btn btn-primary" href="{% url 'company_detail' company.pk %}">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'company_add' %}" class="btn btn-primary btn-block">Add client</a>
    </div>

{% endblock %}