<form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ material_form.name.id_for_label }}">{{ material_form.name.label }}</label>
        {{ material_form.name }}
    </div>
    <div class="form-group">
        <label for="{{ material_form.default_price.id_for_label }}">{{ material_form.default_price.label }}</label>
        {{ material_form.default_price }}
    </div>

    <a class="btn btn-danger" href="{% url 'material_list' %}">Cancel</a>
    <button class="btn btn-primary" type="submit">
        Save
    </button>
</form>